{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <title>Project Table</title>
</head>
<body>

    <table  style="width:80%" class="table table-striped table-secondary"  >
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Project Assignee</th>
            <th scope="col">Reporting Manager</th>
            <th scope="col">BDE Manager</th>
            <th scope="col">Start Date</th>
            <th scope="col">Closing Date</th>
            <th scope="col">Remark</th>
            <th scope="col">Project Status</th>
            <th scope="col" colspan="2" style="text-align:center;">Actions</th>
          </tr>
        </thead>
        
        <tbody>
            {% for project in project_data %}
          <tr>
            
            <td>{{ project.project_name }}</td>
            <td>{{ project.project_description }}</td>
            <td>{{ project.project_assignee }}</td>
            <td>{{ project.project_reporting_manager }}</td>
            <td>{{ project.project_bde_manager }}</td>
            <td>{{ project.project_start_date }}</td>
            <td>{{ project.project_closing_date }}</td>
            <td>{{ project.project_remark }}</td>
            <td>{{ project.project_status }}</td>
            <td> <a href="{% url 'update' project.id %}"><button type="submit" class="btn btn-primary">Edit</button></td></a>
            <td><a href="{% url 'delete' project.id %}" > <button type="submit" class="btn btn-danger">Delete</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
   
      
</body>
</html>