<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
<div class="row">
<div class="col-sm-12">
    {% if message%}
    {{message}}
    {% endif %}
<center><h1>Reset Password</h1></center>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
   
<form method="post" id="passwordForm">
    {% csrf_token %}
<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
<br>
<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
<br>

<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Reset Password">
{% comment %} {%else "Password and confirm password must be same %} {% endcomment %}

</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>







