<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
<div class="row">
<div class="col-sm-12">
  <center><h1  style="color:#008b8b	;">Thankyou!!!</h1></center>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
   
<center> 
<h3 style="color:#696969	;"> Please visit your Email for password Reset Link</h3> 
<a href="https://mail.google.com/mail/">Click Here to visit your Email</a>

</center>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>







