{% extends "dashboard/base.html" %}

{% block bodycontent %}
<h3>All Developers</h3>
        <table id="datatablesSimple">
            <thead>
                <tr><th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>mobile_number</th>
                    <th>designation</th>
                    <th> certifications</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
        
            <tbody>
                {% for users in alldevelopers %}
                <tr><td>{{users.username}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.role}}</td>
                    <td>{{users.mobile_number}}</td>
                    <td>{{users.designation}}</td>
                    <td>{{users.certifications}}</td>
                    <td>{{users.status}}</td>
                    <td><button type="button"  class="btn btn-success">Update</button></td> 
                    <td><button type="button"  class="btn btn-danger" >Delete</button></td> 
                </tr>
                {% endfor %}

               
            </tbody>
        </table>


{% endblock %}
