{% extends "dashboard/base.html" %}

{% block bodycontent %}
<h3>All Managers</h3>
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>EmailID</th>
                    <th>Role</th>
                    <th>mobile_number</th>
                    <th>designation</th>
                    <th>Technologies</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
        
            <tbody>
                {% for manager in allmanagers %}
                <tr><td>{{manager.username}}</td>
                    <td>{{manager.email}}</td>
                    <td>{{manager.role}}</td>
                    <td>{{manager.mobile_number}}</td>
                    <td>{{manager.designation}}</td>
                    <td>{{manager.technologies}}</td>
                    <td>{{manager.status}}</td>
                    <td><a href="{% url "update_manager" id=manager.id %}"><button type="button"  class="btn btn-success">Update</button></a></td> 
                    <td><a href="{% url "delete_manager" id=manager.id %}"><button type="button"  class="btn btn-danger">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}

