{% extends "dashboard/base.html" %}
{% block bodycontent %}
<h3>My Details</h3>
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>EmailID</th>
                    <th>Role</th>
                    <th>mobile_number</th>
                    <th>designation</th>
                    <th>Technologies</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.mobile_number}}</td>
                    <td>{{user.designation}}</td>
                    <td>{{user.technologies}}</td>
                    <td>{{user.status}}</td>
                    <td><a href="{% url "self_update_developer" id=user.id %}"><button type="button"  class="btn btn-success">Update</button></a></td> 
            </tr>
        </tbody>
        </table>
{% endblock %}
               
            
        





