{% extends 'dashboard/base.html' %}
{% block bodycontent %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Developer Rating</th>
                    <th>Developer Name</th>
                    <th>Create By</th>
                    <th>Updated By</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
            {% for rating in dev_rating %}
                <tr>
                        <td>{{rating.developer_rating}}</td>
                        <td>{{rating.developer_name}}</td>
                        <td>{{rating.created_by}}</td>
                        <td>{{rating.updated_by}}</td>
                        <td><a href="{% url "update" id=rating.id %}">Edit</a></td> 
                        <td><a href="{% url "delete" id=rating.id %}">Delete</a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
</div> -->

{% endblock %} 
