       
{% extends "dashboard/base.html" %}

{% block bodycontent %}

    <h3>All Projects</h3>
            <table id="datatablesSimple">
                <thead>
                    <tr><th>Project Name</th>
                        <th>Project Description</th>
                        <th>Project Assignee</th>
                        <th>Reporting Manager</th>
                        <th>Bde Manager</th>
                        <th>Status</th>
                        <th>project_start_date</th>
                        <th>project_closing_date</th>
                        <th>Update</th>
                        <th>Delete</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for pro in manager %}
                    <tr><td>{{pro.project_name}}</td>
                        <td>{{pro.project_description}}</td>
                        <td>{{pro.project_assignee}}</td>
                        <td>{{pro.project_reporting_manager}}</td>
                        <td>{{pro.project_bde_manager}}</td>
                        <td>{{pro.project_status}}</td>
                        <td>{{pro.project_start_date}}</td>
                        <td>{{pro.project_closing_date}}</td>
                        <td><a href="{% url "update_project" id=pro.id %}"><button type="button"  class="btn btn-success">Update</button></a></td> 
                        <td><a href="{% url "delete_project" id=pro.id %}"><button type="button"  class="btn btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

{% endblock %}

<!-- 


    <h3>All Projects</h3>
            <table id="datatablesSimple">
                <thead>
                    <tr><th>Project Name</th>
                        <th>Project Description</th>
                        <th>Project Assignee</th>
                        <th>Reporting Manager</th>
                        <th>Bde Manager</th>
                        <th>Status</th>
                        <th>project_start_date</th>
                        <th>project_closing_date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for pro in manager %}
                    <tr><td>{{pro.project_name}}</td>
                        <td>{{pro.project_description}}</td>
                        <td>{{pro.project_assignee}}</td>
                        <td>{{pro.project_reporting_manager}}</td>
                        <td>{{pro.project_bde_manager}}</td>
                        <td>{{pro.project_status}}</td>
                        <td>{{pro.project_start_date}}</td>
                        <td>{{pro.project_closing_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        -->
 